<?xml version="1.0"?>
<launch>
  <!-- Configurable launch args -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true"/>
  
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="1" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="world_name" value="$(find ahxl_gazebo)/worlds/simple.world"/>
  </include>

  <!-- Spawn a single BOXER robot
  <include file="$(find simulation_tests)/launch/spawn_boxer.launch" >
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
  </include>-->

  <!-- Start Rviz  -->
  <include file="$(find simulation_tests)/launch/view.launch" >
  </include>

  <!-- Start move_base and localization 
  <include file="$(find simulation_tests)/launch/navigation_dwa.launch" >
  </include>
-->

</launch>
